<html>
<header>
    <link rel="stylesheet" href="/styles/main.css">
</header>

<body>
    <div id="main">
        <table width="600">
            <tr>
                <td colspan="2">
                    <div style="font-size: 18px;color:#ff0000;font-weight: bolder;">测试接口</div>
                </td>
            </tr>
            <tr>
                <td><a href="/SayHello" target="_blank">/SayHello</a></td>
                <td>说嗨喽</td>
            </tr>
        </table>
    </div>
</body>

</html>